.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sidebar{
  width: 30%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
